<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/head.html">
	<meta charset="UTF-8"/>
	<title>Home</title>
</head>
<body>
	<header th:insert="fragments/header.html"></header>
	<div class="container" id="main" align="center">
		<div class="row">
			<div class="col-md-12">
				<h1><b>Profils</b></h1>
				<div class="card">
					<div class="card-body">
						<div sec:authorize="isAuthenticated()">
							<h2 class="card-title">Mes Livre en attente</h2>
							<table class="table table-dark table-responsive col-auto row col-md-8 col-md-push-8">
								<tr>
									<th scope="col">titre</th>
									<th scope="col">auteur</th>
									<th scope="col">estimation prochain retour</th>
								</tr>
								<tr th:each="request, rStat : ${requests}">
							        <td th:text="${request?.book?.title}">...</td>
							        <td th:text="${request?.book?.author}">...</td>
							        <td th:if="${firstdates[rStat?.index]} != null" th:text="${#dates.format(firstdates[rStat?.index], 'dd-MM-yyyy')}">...</td>
							        <td th:unless="${firstdates[rStat?.index]} != null">information indisponible</td>
							    </tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="fragments/script.html"></div>
	<div th:insert="fragments/footer.html"></div>
</body>
</html>